.catalog {

  // .catalog__container

  &__container {
    display: flex;
    align-items: flex-start;
    @include adaptiveValue("column-gap", 50, 30);

    @media (max-width: toEm(991.98)) {
      display: block;
    }

  }

  // .catalog__filter

  &__filter {
    flex: 0 0 toRem(295);
  }

  // .catalog__categories

  &__categories {
    flex-grow: 1;
  }
}


.categories {

  // .categories__header

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: toRem(30);
    gap: toRem(20);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 20);
    }

    @media (max-width: toEm(380.98)) {
      flex-direction: column;
      align-items: flex-start;
    }

  }

  // .categories__title

  &__title {
    font-weight: 600;
    @include adaptiveValue("font-size", 22, 20);
    color: #3f4646;
    flex-shrink: 0;
  }

  // .categories__type

  &__type {
    display: flex;
    column-gap: toRem(25);
  }

  // .categories__item

  &__item {}

  // .categories__button

  &__button {
    font-weight: 600;
    @include adaptiveValue("font-size", 22, 18);
    color: #3f4646;
    transition: color 0.3s ease-in-out;


    @media (any-hover: hover) {
      &:hover {
        color: $purpleColor;
      }
    }



    // .categories__button--accent

    &--accent {
      color: $purpleColor;
    }
  }

  // .categories__items

  &__items {}
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(toRem(250), 1fr));
  column-gap: toRem(24);
  row-gap: toRem(50);
}