.title {
  font-family: "Core Sans C", sans-serif;
  font-weight: 600;
  @include adaptiveValue("font-size", 36, 24);
  letter-spacing: toRem(0.68);
  line-height: 1.1;
  color: $darkColor;
  display: flex;
  align-items: flex-start;
  gap: toEm(20, 36);
  flex-shrink: 0;

  &::before {
    content: "";
    border-radius: toRem(10);
    background-color: $purpleColor;
    flex: 0 0 toRem(6);
    width: toRem(6);
    height: toEm(30, 36);
    margin-top: toEm(5, 36);
  }

  &--margin {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 70, 20);
    }
  }


}

.item-product {
  position: relative;
  display: grid;
  gap: toRem(30);

  &--category {
    gap: toRem(25);
  }

  // .item-product__picture-link

  &__picture-link {
    display: block;
  }

  // .item-product__image

  &__image {
    aspect-ratio: 282 / 370;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: toRem(12);

    .item-product--category & {
      aspect-ratio: 270 /393;
    }
  }

  // .item-product__body

  &__body {
    display: flex;
    column-gap: toRem(35);
  }

  // .item-product__right-wrap

  &__right-wrap {
    flex-grow: 1;
    display: grid;
    gap: toRem(5);

  }

  // .item-product__title

  &__title {
    font-weight: 600;
    color: $darkColor;

    min-width: 0;

    .item-product--category & {
      font-weight: 700;
      font-size: toRem(17);
    }
  }

  // .item-product__link-title

  &__link-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  // .item-product__text

  &__text {
    font-weight: 500;
    font-size: toRem(14);
    color: $mainColor;
  }

  // .item-product__left-wrap

  &__left-wrap {
    display: flex;
    align-self: center;

    .item-product__link {
      font-size: toRem(18);
    }

    @media (any-hover: hover) {
      &:hover .item-product__link {
        color: #000;
      }
    }
  }

  // .item-product__link

  &__link {
    transition: color 0.3s ease-in-out;
    font-size: toRem(14);
  }

  // .item-product__price

  &__price {
    font-weight: 700;
    font-size: toRem(14);
    color: $darkColor;
    padding: toRem(10) toRem(20);
    background-color: $liteColor;
    border-radius: toRem(8);
  }

  // .item-product__favorite


  &__favorite {
    position: absolute;
    top: toRem(26);
    right: toRem(20);
    width: toRem(34);
    height: toRem(34);
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        color: red;
      }
    }
  }

}

.button {
  font-family: "Causten";
  font-weight: 500;
  font-size: toRem(18);
  color: #ffffff;
  line-height: 1.2222222;
  border-radius: toRem(8);
  padding: toRem(16) toRem(20);
  background-color: $purpleColor;
  transition: all 0.3s ease-in-out;
  text-align: center;

  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0 toRem(3) toRem(4) 0 rgba(0, 0, 0, 0.1);
      background-color: #6620c1;
    }

    &:focus {
      background-color: #6620c1;
    }

    &:disabled {
      color: $mainColor;
      background-color: #eaeaea;
      cursor: default;
      box-shadow: none;
    }

  }

  // .button--border
  &--border {
    border: toRem(1) solid #bebcbd;
    background-color: #ffffff;
    color: $darkColor;

    @media (any-hover: hover) {
      &:hover {
        color: $purpleColor;
        background-color: #ffffff;
        box-shadow: none;
      }

      &:focus {
        color: $purpleColor;
        background-color: #ffffff;
        border: toRem(1) solid $purpleColor;
      }

      &:disabled {
        color: $mainColor;
        background-color: #eaeaea;
        border: toRem(1) solid transparent;
      }

    }
  }

  // .button--white
  &--white {
    background-color: #ffffff;
    color: $darkColor;
    transition: all 0.3s ease-in-out;

    @media (any-hover: hover) {
      &:hover {
        background-color: $purpleColor;
        color: #ffffff;
      }

      &:focus {
        background-color: rgba(102, 32, 193, 0.03);
        color: $purpleColor ;
        box-shadow: none;
      }

      &:disabled {
        background-color: #ffffff;
        color: $mainColor;
      }
    }

  }
}