@use "sass:math";

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1440;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1240;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;


// Colors
$mainColor: #807d7e;
$darkColor: #3c4242;
$purpleColor: #8a33fd;
$liteColor: #f6f6f6;



// Functions
@import "_functions.scss";
// Fonts
@import "_fonts.scss";
// Icons
@import "_icons.scss";
// Reset
@import "_reset.scss";






body {
  font-family: "Causten";
  color: $mainColor;

  &.menu-open {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }
}





.wrapper {
  overflow: clip;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: toRem(1270);
  margin: 0 auto;
  padding-left: toRem(15);
  padding-right: toRem(15);
}

// visually-hidden
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Main
.page {

  // .page__hero

  &__hero {}

  // .page__deals

  &__deals {
    @include adaptiveValue("padding-top", 130, 30);
    @include adaptiveValue("padding-bottom", 50, 15);
  }

  // .page__new

  &__new {
    @include adaptiveValue("padding-top", 50, 15);
    @include adaptiveValue("padding-bottom", 50, 15);
  }

  // .page__save

  &__save {
    @include adaptiveValue("padding-top", 50, 15);
    @include adaptiveValue("padding-bottom", 50, 15);
  }


  // .page__fashion

  &__fashion {
    @include adaptiveValue("padding-top", 50, 15);
    @include adaptiveValue("padding-bottom", 50, 15);
  }


  // .page__category

  &__category {
    @include adaptiveValue("padding-top", 50, 15);
    @include adaptiveValue("padding-bottom", 50, 15);
  }

  // .page__brands

  &__brands {
    @include adaptiveValue("padding-top", 50, 15);
    @include adaptiveValue("padding-bottom", 50, 15);
  }


  // .page__feedback

  &__feedback {
    @include adaptiveValue("padding-top", 50, 15);
    @include adaptiveValue("padding-bottom", 100, 30);
  }




  // .page__catalog

  &__catalog {
    .catalog__categories {
      @include adaptiveValue("padding-top", 50, 15);
      @include adaptiveValue("padding-bottom", 50, 15);
    }

  }


  // .page__description

  &__description {
    @include adaptiveValue("padding-top", 50, 15);
    @include adaptiveValue("padding-bottom", 50, 15);
  }


  // .page__best-price

  &__best-price {
    @include adaptiveValue("padding-top", 50, 15);
    @include adaptiveValue("padding-bottom", 100, 30);
  }



  // .page__card

  &__card {
    @include adaptiveValue("padding-bottom", 50, 15);
  }





}


// Components
@import "_common.scss";
@import "_nouislider.scss";
@import "_filter.scss";
// Header
@import "_header.scss";
/* ======================================================== */
// Hero
@import "_hero.scss";
// Deals
@import "_deals.scss";
// new
@import "_new.scss";
// save
@import "_save.scss";
// fashion
@import "_fashion.scss";
// category
@import "_category.scss";
// brands
@import "_brands.scss";
// feedback
@import "_feedback.scss";
// description
@import "_description.scss";
// best-price
@import "_best-price.scss";
// presentation-card
@import "_presentation-card.scss";


/* ======================================================== */
// pages
// catalog
@import "_catalog.scss";

/* ======================================================== */
// Footer
@import "_footer.scss";