@use "sass:math";

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1440;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1240;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;


// Colors
$mainColor: #807d7e;
$darkColor: #3c4242;
$purpleColor: #8a33fd;
$liteColor: #f6f6f6;



// Functions
@import "_functions.scss";
// Fonts
@import "_fonts.scss";
// Icons
@import "_icons.scss";
// Reset
@import "_reset.scss";
// Components
@import "_common.scss";
// Header
@import "_header.scss";
/* ======================================================== */
// Hero
@import "_hero.scss";
/* ======================================================== */
// Footer
@import "_footer.scss";





body {
  font-family: "Causten";
  color: $mainColor;

  &.menu-open {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }
}





.wrapper {
  overflow: clip;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: toRem(1270);
  margin: 0 auto;
  padding-left: toRem(15);
  padding-right: toRem(15);
}

// Main
.page {

  // .page__hero

  &__hero {}
}